@import '~@puppet/sass-variables/index';

.rc-page-header {
  padding: 0 $puppet-common-spacing-base * 8;
  border-bottom: $puppet-common-border;
  position: relative;

  &.tabs.not-loading {
    border-bottom: none;
  }
}

.rc-page-header-header {
  display: flex;
  position: relative;
  z-index: 10;
  flex-direction: row;
  margin: $puppet-common-spacing-base * 4 0 $puppet-common-spacing-base 0;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  animation: loadedContent $puppet-common-transition-duration forwards;

  // @media (max-width: 767px) {
  //   flex-direction: column;
  //   align-items: unset;
  // }
}

.rc-page-header-actions {
  animation: loadedContent $puppet-common-transition-duration forwards;
  opacity: 0;
  margin-left: $puppet-common-spacing-base * 2;
  display: flex;

  @media (max-width: 767px) {
    margin: $puppet-common-spacing-base * 2 0;
  }
}

.rc-page-header-sub-header {
  margin-bottom: $puppet-common-spacing-base * 4;
  min-height: 20px;
  animation: loadedContent $puppet-common-transition-duration forwards;
  opacity: 0;
}

.rc-page-header-metadata {
  display: inline-flex;
  overflow: hidden;
  min-width: 150px;

  // @media (max-width: 767px) {
  //   display: block;
  //
  //   &:not(:last-child) {
  //     margin-bottom: $puppet-common-spacing-base * 2;
  //   }
  //
  //   .rc-page-header-metadata-label,
  //   .rc-page-header-metadata-value {
  //     display: inline;
  //   }
  // }

  &:not(:last-child) {
    margin-right: $puppet-common-spacing-base * 7;
  }

  .rc-page-header-metadata-label {
    margin-right: $puppet-common-spacing-base * 2;
    white-space: nowrap;
  }
}

.rc-page-header-title-supplement {
  display: flex;
  flex: 1;

  &:not(:first-child) {
    margin-left: $puppet-common-spacing-base * 2;
  }

  &:not(:last-child) {
    margin-right: $puppet-common-spacing-base * 2;
  }
}

.rc-page-header-title ~ .rc-page-header-title-supplement {
  margin-left: $puppet-common-spacing-base * 2;
}

.rc-page-header-ellipsis {
  padding: 0;
  opacity: 1;
  margin-bottom: 16px;

  .e1,
  .e2,
  .e3 {
    width: 4px;
    height: 4px;
    background-color: $puppet-n50;
    border-radius: 2px;
    display: inline-block;
    margin: 2px;
    animation-name: ellipsisLoad;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  .e2 {
    animation-delay: 0.3s;
  }

  .e3 {
    animation-delay: $puppet-common-transition-duration;
  }
}

.rc-page-header-progress-bar {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
}

.rc-page-header-extras {
  max-height: 0;
  border-top: 0;
  animation: expandExtras ($puppet-common-transition-duration / 2) forwards;
  animation-delay: $puppet-common-transition-duration;
  overflow: auto;
  overflow-y: hidden;
}

@keyframes ellipsisLoad {
  from {
    background-color: $puppet-n50;
  }
  to {
    background-color: $puppet-n700;
  }
}

@keyframes expandExtras {
  from {
    max-height: 0;
  }

  to {
    max-height: 100px;
    border-top: $puppet-common-border;
  }
}
